<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
    <appSettings>
      <add key="xmlFilePath" value="C:\Program Files (x86)\VisualStudio\Projects\C#\FileImportService\FileImportService\bin\Debug\settings2.xml"/>
    </appSettings>
  
</configuration>